In [10]:
import pandas as pd

In [17]:
df = pd.read_csv("Registration Rates v Turnout Rates.csv")
newdf= df.rename(columns={"Registration Rate/County":"Registration_rate","zip code":"Zip_code","Turnout Rate": "Turnout_rate","latitude":"Latitude","longitude":"Longitude"})
newdf["Zip_code"].dtypes

dtype('int64')

In [24]:
df1 = pd.read_csv("Voting .csv")
newdf1 = df1.rename(columns={"zip code":"Zip_code","population":"Population","num registerd voters":"Num_registered_voters","num voted":"Num_voted","did not vote": "Did_not_vote","average house value":"Average_house_value","average income":"Average_income","latitude":"Latitude","longitude":"Longitude"})
#newdf1["Zip_code"].dtypes
newdf1

,Zip_code,Population,num registered voters,Num_voted,Did_not_vote,Average_house_value,Average_income,Latitude,Longitude,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,33626.0,33535.0,33382.0,"14,115","19,267","347,700","106,560",28.067196,-82.613677,NaN,NaN,NaN
1,33629.0,24930.0,34542.0,"15,507","19,035","492,300","115,180",27.921808,-82.508953,NaN,NaN,NaN
2,33634.0,22560.0,19609.0,"7,468","12,141","162,400","58,013",28.003866,-82.545317,NaN,NaN,NaN
3,33635.0,18517.0,18163.0,"7,113","11,050","164,700","60,267",28.016174,-82.611958,NaN,NaN,NaN
4,33637.0,18417.0,16651.0,"6,352","10,299","146,000","52,635",28.049979,-82.363446,NaN,NaN,NaN
5,33701.0,19376.0,25175.0,"10,330","14,845","344,500","35,770",27.770612,-82.636238,NaN,NaN,NaN
6,33801.0,32970.0,28474.0,"10,579","17,895","78,700","35,696",28.042681,-81.906626,NaN,NaN,NaN
7,33803.0,29675.0,31091.0,"13,167","17,924","133,100","51,502",28.015437,-81.935205,NaN,NaN,NaN
8,33805.0,27347.0,24203.0,"9,086","15,117","79,900","35,198",28.094722,-81.945372,NaN,NaN,NaN
9,33974.0,17770.0,11765.0,"4,207","7,558","145,800","47,831",26.559548,-81.613016,NaN,NaN,NaN
10,33976.0,17170.0,10347.0,"3,577","6,770","133,300","48,957",26.586381,-81.687654,NaN,NaN,NaN
11,33980.0,13407.0,13897.0,"6,029","7,868","140,800","43,559",26.980088,-82.052260,NaN,NaN,NaN
12,33982.0,12593.0,12939.0,"5,469","7,470","113,200","47,067",26.901981,-81.791609,NaN,NaN,NaN
13,32666.0,5679.0,7853.0,"3,374","4,479","136,100","47,067",29.724643,-82.002428,NaN,NaN,NaN
14,33541.0,25278.0,23848.0,"9,786","14,062","69,300","39,334",28.231478,-82.219326,NaN,NaN,NaN
15,32176.0,17730.0,20777.0,"9,020","11,757","214,800","46,875",29.346048,-81.067604,NaN,NaN,NaN
16,32054.0,10403.0,11233.0,"4,839","6,394","108,100","41,566",30.031356,-82.381490,NaN,NaN,NaN
17,32667.0,3649.0,5447.0,"2,401","3,046","236,200","52,500",29.552447,-82.313962,NaN,NaN,NaN
18,32668.0,6019.0,6317.0,"2,661","3,656","153,500","39,277",29.254058,-82.528160,NaN,NaN,NaN
19,32669.0,15554.0,18531.0,"8,013","10,518","197,900","69,439",29.631327,-82.581421,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
newdf2 = newdf1.apply (pd.to_numeric, errors='coerce')
newdf2

,Zip_code,Population,num registered voters,Num_voted,Did_not_vote,Average_house_value,Average_income,Latitude,Longitude,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,33626.0,33535.0,33382.0,NaN,NaN,NaN,NaN,28.067196,-82.613677,NaN,NaN,NaN
1,33629.0,24930.0,34542.0,NaN,NaN,NaN,NaN,27.921808,-82.508953,NaN,NaN,NaN
2,33634.0,22560.0,19609.0,NaN,NaN,NaN,NaN,28.003866,-82.545317,NaN,NaN,NaN
3,33635.0,18517.0,18163.0,NaN,NaN,NaN,NaN,28.016174,-82.611958,NaN,NaN,NaN
4,33637.0,18417.0,16651.0,NaN,NaN,NaN,NaN,28.049979,-82.363446,NaN,NaN,NaN
5,33701.0,19376.0,25175.0,NaN,NaN,NaN,NaN,27.770612,-82.636238,NaN,NaN,NaN
6,33801.0,32970.0,28474.0,NaN,NaN,NaN,NaN,28.042681,-81.906626,NaN,NaN,NaN
7,33803.0,29675.0,31091.0,NaN,NaN,NaN,NaN,28.015437,-81.935205,NaN,NaN,NaN
8,33805.0,27347.0,24203.0,NaN,NaN,NaN,NaN,28.094722,-81.945372,NaN,NaN,NaN
9,33974.0,17770.0,11765.0,NaN,NaN,NaN,NaN,26.559548,-81.613016,NaN,NaN,NaN
10,33976.0,17170.0,10347.0,NaN,NaN,NaN,NaN,26.586381,-81.687654,NaN,NaN,NaN
11,33980.0,13407.0,13897.0,NaN,NaN,NaN,NaN,26.980088,-82.052260,NaN,NaN,NaN
12,33982.0,12593.0,12939.0,NaN,NaN,NaN,NaN,26.901981,-81.791609,NaN,NaN,NaN
13,32666.0,5679.0,7853.0,NaN,NaN,NaN,NaN,29.724643,-82.002428,NaN,NaN,NaN
14,33541.0,25278.0,23848.0,NaN,NaN,NaN,NaN,28.231478,-82.219326,NaN,NaN,NaN
15,32176.0,17730.0,20777.0,NaN,NaN,NaN,NaN,29.346048,-81.067604,NaN,NaN,NaN
16,32054.0,10403.0,11233.0,NaN,NaN,NaN,NaN,30.031356,-82.381490,NaN,NaN,NaN
17,32667.0,3649.0,5447.0,NaN,NaN,NaN,NaN,29.552447,-82.313962,NaN,NaN,NaN
18,32668.0,6019.0,6317.0,NaN,NaN,NaN,NaN,29.254058,-82.528160,NaN,NaN,NaN
19,32669.0,15554.0,18531.0,NaN,NaN,NaN,NaN,29.631327,-82.581421,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN